@import '../scss/variables';

.detail__page {
  padding: 15px 60px 30px;
  text-align: center;
  background-color: $coloryellow;
  border: 2px solid black;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5%;
}

.detail__name {
  text-transform: capitalize;
  font-size: 28px;
  @media all and (min-width: $bp-tablet){
    font-size: 32px;
  }
}

.image {
  width: 180px;
  @media all and (min-width: $bp-tablet){
    margin-left: 20px;
  }
}
//para hacer el hover, cambiar la img a div y poner background image
.detail__types {
  list-style: none; 
  padding: 0;
  text-transform: uppercase;
}

.detail__abilities {
  list-style: none; 
  padding: 0;
  text-transform: uppercase;
}

.detail__characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media all and (min-width: $bp-tablet){
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
}

.height__weight {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
@keyframes back{
  0% {position: relative;
      right: 0;
      top: 0;}
  50% {position: relative;
      right: 10px;
      top: 0;}
  100% {position: relative;
      right: 20px;
      top: 0;}
}

.arrow{
  transform: scale(2);
  margin: 20px;
  color: black;
  animation: back 1.5s infinite;
  &:hover{
    color: rgb(26, 121, 172);
  }
}

